div{
    display: block;
}

.main{
    margin-left: 70px;
    background-color: #f7f7f7;
    padding: 10px;
}

.row{
    margin-left: -10px;
    margin-right: -10px;
}

.pannel{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #e6e9ed;
    opacity: 1;
    transition: all .2s ease;
}

.title{
    border-bottom: 2px solid #e6e9ed;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.title h2{
    /* margin: 5px 0 6px;
    float: left; */
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

h2 {
    font-weight: 400;
    font-size: 18px;
}

.content{
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

.text-info{
    color: #31708f;
}

.box{
    display: flex;
}

.has-feedback{
    /* position: relative; */
    min-height: 1px;
    /* float: right; */
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
}

label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    padding-top: 8px;
    font-size: 14px;
    cursor: default;
}


.form-control.has-feedback-left{
    padding-left: 45px;
}

.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DDE2E8;
}

.time_date_picker{
    background-color: #fff;
    cursor: pointer;
    padding: 10px 10px;
    border: 1px solid #ccc;
    width: 100%;
}