<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title>Magic Post</title>
  </head>
  <body>
    <div class="login-container">
      <div class="login-body">
        <div class="login-form-header">
          <h2>Login</h2>
        </div>

        <div class="login-form">
          <input type="text" class="login-form-input" placeholder="Email" />
          <input
            type="password"
            class="login-form-input"
            placeholder="Password"
          />
          <button class="login-form-btn">Sign In</button>
        </div>
      </div>
    </div>
  </body>
</html>
